# Application Configuration
spring.application.name=blog-backend
server.port=8080

# Database Configuration (PostgreSQL)
spring.datasource.url=jdbc:postgresql://localhost:5432/blogdb
spring.datasource.username=bloguser
spring.datasource.password=secret
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA/Hibernate Configuration
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.open-in-view=false

# JWT Configuration
jwt.secret=****************************************************
jwt.expiration=86400000

# Logging Configuration
logging.level.root=INFO
logging.level.codewithmoise.org.blogbackend=DEBUG
logging.level.org.springframework.security=DEBUG
logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE

# SpringDoc OpenAPI Configuration
springdoc.api-docs.path=/api-docs
springdoc.swagger-ui.path=/swagger-ui.html
springdoc.swagger-ui.enabled=true
springdoc.show-actuator=true


# Docker Compose Support
spring.docker.compose.enabled=false
spring.docker.compose.file=compose.yaml

# Cloudinary configure
cloudinary.cloud-name=******************
cloudinary.api-key=**********************
cloudinary.api-secret=********************


logging.level.org.springframework.web=DEBUG

#file upload
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB

#actuator configuration
management.endpoints.web.exposure.include=health,info.metrics
management.endpoints.web.base-path=/actuator

management.info.env.enabled=true
info.app.name=Blog Backend
info.app.version=1.0.0
info.app.description=Blog REST API

#Caching
spring.data.redis.host=localhost
spring.data.redis.port=6379
spring.data.redis.timeout=2000ms

#Cache TTL
spring.cache.redis.time-to-live=600000

#mail config
spring.mail.host=*************
spring.mail.port=1234
spring.mail.username=**************
spring.mail.password=********

#customDynamicScheduling
tag.cleanup.cron=0 0 2 * * *